*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to left, #ffffff);
  color: rgb(0, 0, 0);
  flex-direction: column;
}

header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

main {
  padding: 80px;
  padding-top: 120px;
  margin: 0;
  text-align: left;
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 100%;
}

a {
  color: #000000 !important;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}

a:hover {
  color: #1900ff !important;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
}

a:active {
  transform: scale(0.98);
}

video {
  display: block;
  margin: 0 auto;
}

/* Responsywność */
@media (min-width: 768px) {
  img {
    width: 50%;
    max-width: 800px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 20px;
    padding-top: 80px;
  }
}